name: WinRT headers

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-2025

    name: Build
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'true'

      - name: Generate Headers
        run: |
          mkdir build
          cd build
          cmake cmake -DCMAKE_BUILD_TYPE=Release -DCPPWINRT_BUILD_VERSION=2.0.250303.1 -DBUILD_TESTING=OFF ../cppwinrt/
          echo "" > ./app.manifest.rc
          cmake --build . --config Release
          ./Release/cppwinrt.exe -input ../windows-rs/crates/libs/bindgen/default/ -output ../include/
          cd ..
          git apply ./patches/0001-get-current-time.patch

      - name: Upload Headers
        uses: actions/upload-artifact@v4
        with:
          name: winrt-headers
          path: include

  release:
    name: 'Release'

    needs: [build]

    runs-on: ubuntu-latest

    if: ${{ startsWith(github.ref, 'refs/tags/') }}

    permissions:
      contents: write

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: ZIP Artifacts
        run: |
          for i in */; do (cd "${i%/}"; zip -r "../${i%/}.zip" .; cd ..); done

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          removeArtifacts: true
          omitNameDuringUpdate: true
          omitBodyDuringUpdate: true
          artifacts: "*.zip"
          artifactErrorsFailBuild: true
